<div class="container">
    <div class="row">
        <div class="items">
            <img src="../../assets/photo-1569521739482-5443615d3725.avif" class="img" >
            <div class="text">
                <div class="top-left">
                    <h1 class="header">$40</h1>
                    <p class="date"> 08 may / doors open at 23:00</p>
                    <h2 class="body">Skillet at DJO Night Club</h2>
                    <p>Legends of American Hard Rock – Skillet Music for the first time with a solo concert in Lviv! On November 19th at Malevich Night Club, rockers will be presenting a new record as part of the Victorious Tour, and it will be something incredible!</p>
                </div>
            </div>
        </div>
        
        
       
    </div>
</div>