<nav class="navbar sticky-top navbar-expand-md navbar-dark  " >
  <div class="container-fluid">
    <a class="navbar-brand " href="#">
   
      <img class="image" src="../assets/djo-logo.png" alt="">
    </a>
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto navbars">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="#">Services</a>
        </li>
       
        <a class="navbar-brand d-none d-md-block" href="#">
          <img class="image" src="../assets/djo-logo.png" alt="">
        </a>

        <li class="nav-item">
          <a class="nav-link" href="#events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div> -->
  </div>
</nav>


<app-hero></app-hero>
<app-middle></app-middle>