nav {
    background-color: #ff4e5b;
    
}

.navbars {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-item {
   
    margin-right: 10px;
}

.image {
    height: 80px;
}