<div class="container">
    <div class="row">
        <div class="items">
            <img src="../../assets/photo-1600102975337-e66752d32557.avif" class="img" >
            <div class="text">
                <div class="top-left">
                    <h1 class="header">$35</h1>
                    <p class="date"> 07 may / doors open at 23:00</p>
                    <h2 class="body">Bubbles and Bites</h2>
                    <p>Head to Amsterdam's Prik for Bubbles & Bites, a Sunday afternoon session featuring pop music and disco classics. The crew at Prik serve tasty free snacks from 17:00 to 19:00 and pink or white prosecco is available on tap for just €3 per glass.</p>
                </div>
            </div>
        </div>
        
        
       
    </div>
</div>