
<div class="container">
    <div class="row d-flex  align-items-center justify-content-center">

    
     <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem; height: 280px; ">
            
            <div class="items">
                <fa-icon class="icon" [icon]="cap" ></fa-icon>
                <div class="card-body">
                  <h5 class="card-title">80's Night party</h5>
                  <p class="card-text">Back To The 80's .</p>
                  
                </div>
              </div>
        </div>
    </div> 

    <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem; height: 280px;">
            
            <div class="items">
                <fa-icon class="icon" [icon]="glass" ></fa-icon>
                <div class="card-body">
                  <h5 class="card-title">CORPORATE EVENTS</h5>
                  <p class="card-text">Creativity corporate events from concept and design,
                     right through to production and management of the event itself.</p>
                  
                </div>
              </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem; height: 280px;">
           
            <div class="items">
                <fa-icon class="icon" [icon]="camera" ></fa-icon>
                <div class="card-body">
                  <h5 class="card-title">COMERCIAL SHOOTS</h5>
                  <p class="card-text">We provide productions services for commercials,
                     branded media, film/TV or documentary shoots in many pavilions.</p>
                  
                </div>
              </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem; height: 280px;">
           
            <div class="items">
                <fa-icon class="icon" [icon]="micr" ></fa-icon>
                <div class="card-body">
                  <h5 class="card-title">BRANDED EVENTS</h5>
                  <p class="card-text">Our branded events provide unmatched opportunities 
                    for you to interact with customers make the brand even stronger and recognizable.</p>
                  
                </div>
              </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem; height: 280px;">
            
            <div class="items">
                <fa-icon class="icon" [icon]="cake" ></fa-icon>
                <div class="card-body">
                  <h5 class="card-title">BIRTHDAY PARTIES</h5>
                  <p class="card-text">Our birthday party services include live DJs, dancing, bottle service and much more.</p>
                  
                </div>
              </div>
        </div>
    </div>

     <div class="col-lg-4 col-md-6">
        <div class="card" style="width: 18rem; height: 280px;">
            
            <div class="items">
                <fa-icon class="icon" [icon]="mask" ></fa-icon>
                <div class="card-body">
                  <h5 class="card-title">Masquerade Party</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, expedita?.</p>
                  
                </div>
              </div>
        </div>
    </div> 
</div>
</div>