<div class="container">
    <div class="row">
        <div class="items">
            <img src="../../assets/photo-1574154894072-18ba0d48321b.avif" class="img" >
            <div class="text">
                <div class="top-left">
                    <h1 class="header">33</h1>
                    <p class="date"> 06 may / doors open at 23:00</p>
                    <h2 class="body">Indie Wednesdays</h2>
                    <p>Make your way to Indie DIFC every Wednesday as DJ Brooklyn DXB kicks things off with some 
                      R&B and hip hop before Stephon LaMar adds some soul into the mix with a funky live performance.</p>
                </div>
            </div>
        </div>
        
        
       
    </div>
</div>